:host {
    label {
        margin-bottom: 0.5rem;
    }

    form {
        input {
            width: 20rem;
            height: 2rem;
            font-size: 1rem;
        }

        .add-profile {
            width: 7rem;
        }
    }
}